<html style="overflow-x: hidden; overflow-y: hidden;">
    <header>
        <title>Animal Menu </title>
        <script src="libraries/vue.min.js"></script>
        <script src="libraries/vuetify.js"></script>
        <script src="libraries/axios.min.js"></script>
        <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons'>
        <link rel="stylesheet" href="libraries/vuetify.css">
        <link rel="stylesheet" href="style.css">
    </header>
    <body>

        <div id="app">
            <v-app style="background-color: transparent !important">
                <div id="k8_menu_base" v-show="show_app">
                    <div id="k8_menu_header">
                        Animal Menu
                    </div>

                    <div id="k8_menu_body">

                        <div id="k8_main_tab" v-show="current_tab == 'main'">
                            <v-btn block color="primary" dark @click="OpenTab('option')">Options</v-btn>
                            <v-btn block color="primary" dark @click="OpenTab('animation')">Animations</v-btn>
                            <v-btn block color="primary" dark @click="OpenTab('action')">Actions</v-btn>
                        </div>

                        <div id="k8_options_tab" v-show="current_tab == 'option'">
                            <v-btn block color="primary" dark @click="ToggleNameChanger()">Renommer</v-btn>
                            <v-btn block color="primary" dark @click="ToggleModelChanger()">Choisir animal</v-btn>
                            <v-btn block color="primary" dark @click="Spawnk8()">Appeler/Renvoyer</v-btn>
                            <v-btn block color="primary" dark @click="OpenTab('main')">Retour</v-btn>
                        </div>

                        <div id="k8_animations_tab" v-show="current_tab == 'animation'">
                            <v-btn block color="primary" dark @click="DogSit()">Assis</v-btn>
                            <v-btn block color="primary" dark @click="DogLaydown()">Couché</v-btn>
                            <v-btn block color="primary" dark @click="OpenTab('main')">Retour</v-btn>
                        </div>

                        <div id="k8_actions_tab" v-show="current_tab == 'action'">
                            
                            <v-btn block color="primary" dark @click="VehicleToggle()">Rentrer/Sortir du véhicule</v-btn>
                            <v-btn block color="primary" dark @click="OpenTab('main')">Retour</v-btn>
                        </div>

                        <v-btn block color="red" dark @click="DisableApp()">Fermer</v-btn>

                        <div id="footer_credits"><font color="white">Digital developments</font></div>
                    </div>

                    <div id="k8_name_modal">
                        <v-dialog v-model="k8_name_modal" max-width="500px">
                            <v-card>
                                <v-card-title id="k8_name_header">Choisir un nom</v-card-title>
                                <v-divider></v-divider>
                                <v-card-text>
                                    <v-form v-model="k8_name_form_valid">
                                        <v-text-field label="Name" :rules="k8_name_rules" :counter="10" v-model="dog_name"></v-text-field>
                                        <v-btn color="blue" dark block @click="Setk8Name()">Submit</v-btn>
                                    </v-form>
                                </v-card-text>
                            </v-card>
                        </v-dialog>
                    </div>

                    <div id="k8_model_modal">
                        <v-dialog v-model="k8_model_modal" max-width="70%">
                            <v-card>
                                <v-card-title id="k8_model_header">Choisir animal</v-card-title>
                                <v-divider></v-divider>
                                <v-card-text>

                                    <v-container grid-list-md text-xs-center>
                                        <v-layout row>
                                            <v-flex xs12 v-for="model in dog_models_list">
                                                <v-card>
                                                    <v-card-media :src="model.img"></v-card-media>
                                                    <v-card-media :src="model.img" height="200px" contain></v-card-media>
                                                    <v-card-title id="model_header_text">{{model.title}}</v-card-title>
                                                    <v-card-actions>
                                                        <v-btn color="blue" block dark @click="Choosek8Model(model.model)">Selectionner</v-btn>
                                                    </v-card-actions>
                                                </v-card>
                                            </v-flex>
                                        </v-layout>
                                    </v-container>
                                    
                                </v-card-text>
                            </v-card>
                        </v-dialog>
                    </div>

                </div>
            </v-app>
        </div>

        <script src="script.js"></script>
    </body>
</html>